<!DOCTYPE html>
<html>
<head>
    <title>文件翻译前端</title>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{{ url_for('static', filename='styles.css') }}">
</head>
<body>
    <form action="/upload" method="post" enctype="multipart/form-data">
        <input type="file" name="file">
        <input type="submit" value="上传">
    </form>

    <div id="translate"></div>

    <div class="left">
        <img id="zoomIn" class="icon" src="{{ url_for('static', filename='images/magnifying_glass_add.png') }}" alt="Zoom In" style="cursor: pointer;">
        <img id="zoomOut" class="icon" src="{{ url_for('static', filename='images/magnifying_glass_remove.png') }}" alt="Zoom Out" style="cursor: pointer;">
        <input type="file" id="fileInput" accept=".xlsx,.xls,.docx,.pptx,.pdf,.txt">
        <div id="container">
            <div class="editabletxt" contenteditable="false">
                <div id="output" style="transform: scale(1);"></div>
            </div>
        </div>
    </div>

    <div class="right">
        <img id="trans_zoomIn" class="icon" src="{{ url_for('static', filename='images/magnifying_glass_add.png') }}" alt="Zoom In" style="cursor: pointer;">
        <img id="trans_zoomOut" class="icon" src="{{ url_for('static', filename='images/magnifying_glass_remove.png') }}" alt="Zoom Out" style="cursor: pointer;">
        <img id="download_btn" class="icon " src="{{ url_for('static', filename='images/download_file.png') }}" alt="Download" style="cursor: pointer;">
        <div id="trans_container">
            <div class="editabletxt" contenteditable="true">
                 <div id="trans_output" style="transform: scale(1);"></div>
            </div>
        </div>
    </div>

<script src="{{ url_for('static', filename='translate.js') }}"></script>
<script src="{{ url_for('static', filename='jquery-3.6.0.min.js') }}"></script>
<script src="{{ url_for('static', filename='xlsx.js') }}"></script>
<script src="{{ url_for('static', filename='jszip.js') }}"></script>
<script src="{{ url_for('static', filename='pdf.js') }}"></script>
<script src="{{ url_for('static', filename='script.js') }}"></script>
<script>pdfjsLib.GlobalWorkerOptions.workerSrc = "{{ url_for('static', filename='pdf.worker.js') }}";</script>


<script>
translate.selectLanguageTag.refreshRender();
translate.language.setLocal('chinese_simplified');
translate.language.setDefaultTo('english');
translate.service.use('client.edge');
var documents = [];
documents.push(document.getElementById('docx_content'));
documents.push(document.getElementById('trans_output'));
translate.setDocuments(documents);
translate.execute();//进行翻译
</script>
</body>
</html>
