<!DOCTYPE html>
<html>
<head>
    <title>文件上传和下载</title>
    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
</head>
<body>
    <h1>上传文件</h1>
    <form action="/upload" method="post" enctype="multipart/form-data">
        <input type="file" name="file" id="file">
        <input type="submit" value="上传">
    </form>

    <h1>已上传文件</h1>
    <ul id="uploadedFiles">
        {% for file in uploaded_files %}
        <li>
            {{ file }}
            <a href="{{ url_for('download', filename=file) }}" download>
                <button>下载</button>
            </a>
        </li>
        {% endfor %}
    </ul>

    <h1>文件展示</h1>

    <form id="displayForm">
        <label for="selectedFile">选择文件：</label>
        <select name="selectedFile" id="selectedFile">
            {% for file in uploaded_files %}
            <option value="{{ file }}">{{ file }}</option>
            {% endfor %}
        </select>
        <button type="submit">Display Selected File</button>
    </form>

    <div id="fileContent"></div>

    <script>
        $(document).ready(function() {
            $('#displayForm').submit(function(event) {
                event.preventDefault();
                var selectedFile = $('#selectedFile').val();
                $.get('/display_selected_file', { selectedFile: selectedFile }, function(data) {
                    $('#fileContent').html(data);
                });
            });
        });
    </script>
</body>
</html>
