<!DOCTYPE html>
<html>
<head>
    <title>文件上传示例</title>
</head>
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script>
<body>
    <h1>上传文件</h1>
    <form action="/upload" method="post" enctype="multipart/form-data">
        <input type="file" name="file">
        <input type="submit" value="上传">
    </form>

    <h1>已上传文件列表</h1>
    <ul>
        {% for file in uploaded_files %}
        <li><a href="{{ url_for('download', filename=file) }}">{{ file }}</a></li>
        {% endfor %}
    </ul>

    {% if latest_file_path %}
    <h1>最新上传的文件</h1>
    <p>
    <a href="{{ url_for('download',filename=get_filename(latest_file_path)) }}">
        <button>下载 {{ get_filename(latest_file_path) }}</button>
    </a>
    </p>
    {% endif %}

    <h1>显示文件内容</h1>
    <select id="fileSelect">
    </select>
    <div id="fileContent"></div>
   <!-- <div class="IframeContainer">
        <iframe id="fileContentIframe" src="/get-file" frameborder="0" width="560px" height="300px"></iframe>
    </div> -->
<script src="{{ url_for('static', filename='script.js') }}"></script>
<script src="{{ url_for('static', filename='translate.js') }}"></script>
<script src="{{ url_for('static', filename='jquery-3.6.0.min.js') }}"></script>
<script>
translate.language.setLocal('chinese_simplified'); //设置本地语种（当前网页的语种）。如果不设置，默认自动识别当前网页显示文字的语种。 可填写如 'english'、'chinese_simplified' 等，具体参见文档下方关于此的说明。
translate.service.use('client.edge'); //设置机器翻译服务通道，直接客户端本身，不依赖服务端 。相关说明参考 http://translate.zvo.cn/43086.html
var documents = [];
documents.push(document.getElementById('fileContent'));
documents.push(document.getElementById('fileContentIframe'));
translate.setDocuments(documents);
translate.execute();//进行翻译
</script>

</body>
</html>
